/* Aca quito los margenes al body */
body {
  margin: 0;
  font-family: "Readex Pro", sans-serif; /*Google Font*/
}
/* Estilos del Logo */
.header {
  text-align: center;
  margin-bottom: 0px;
}
.header__logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header__logo__imagen {
  width: 40%;
}
/* Menu con flexbox*/
.menu {
  display: flex;
  justify-content: center;
}
.menu__ul {
  padding: 0%;
  list-style: none;
  margin: 5px 0px 0px 0px;
  background-color: cadetblue;
}
.menu__ul__li {
  display: inline-block;
  background-color: rgb(139, 245, 236);
}
.menu__ul__li:hover {
  transform: scale(1.3);
}
.menu__ul__li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0px 20px 0px 20px;
}
.menu__ul__li a:hover {
  background-color: rgb(68, 196, 201);
}
/* Menu flex Fin */

/* Noticias Blog */
.main {
  background-color: rgb(255, 241, 214);
}
.noticia {
  width: 60%;
  margin: auto;
  text-align: justify;
}
.noticia__jean__img {
  margin: auto;
  display: block;
  width: 70%;
}
.noticia__jean__titulo {
  margin-top: 0px;
}
/* Noticias Blog Fin */

/* Divisor */
.divisor {
  height: 60px;
  background-color: rgb(255, 241, 214);
}

/* Boton para subir */
.footer__redes__arriba {
  position: fixed;
  bottom: 20px;
  right: 5px;
  opacity: 70%;
}
.arriba img {
  width: 4%;
}

/* Vista celular */
@media screen and (max-width: 599px) {
  .noticia {
    width: 90%;
    margin: auto;
    text-align: justify;
  }
  .noticia__jean__img {
    margin: auto;
    display: block;
    width: 70%;
  }
}
/* Vista Tablet */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .noticia {
    width: 75%;
    margin: auto;
    text-align: justify;
  }
  .noticia__jean__img {
    margin: auto;
    display: block;
    width: 70%;
  }
}
